/* Icono cart en el nav */
.iconCart{
    position: absolute;
    top:2.5rem;
    right: 3rem;
    color: #fff;
    font-size: 2rem;
}
.itemsListContainer{
    width: 300px;
    height: 400px;
    background-color: burlywood;
    display: inline-block;
    margin: 10px;
}
.Items-p{
    text-align: center;
    font-size: 2rem;
}