/* Icono cart en el nav */
.iconCart{
    position: absolute;
    top:2.5rem;
    right: 3rem;
    color: #fff;
    font-size: 2rem;
}
.itemsListContainer{
    width: 300px;
    height: 400px;
    background-color: burlywood;
    display: inline-block;
    margin: 10px;
}
.Items-p{
    text-align: center;
    font-size: 2rem;
}
/* Counter */
.counter_container{
    text-align: center;
}
.counter_container p {
    font-size: 40px;
}
.counter_container button {
    font-size: 20px;
    padding: 5px;
    margin: 3px;
    color: #fff;
    background-color:#000;
}
.id-producto{
    font-size: 3rem;
    color: red;
}